.button {
    -fx-cursor: hand;
}

.label {
    -fx-font: 15pt "Arial";
}

#paneID {
    -fx-background-color: #ffe6ef;
}

#pointID {
    -fx-fill: BLACK;
}

#connectorID {
    -fx-stroke-width: 2.5pt;
}