#buttonID {
    -fx-cursor: hand;
    -fx-background-radius: 15px;
}

#cropLineID {
    -fx-stroke-width: 2pt;
}

#imageViewID {
    -fx-cursor: crosshair;
}

#labelID {
    -fx-font: 15pt "Arial";
}

#lineID {
    -fx-stroke-width: 4pt;
}

#opaqueSquareID {
    -fx-fill: WHITE;
    -fx-stroke: BLACK;
    -fx-opacity: 0.2;
}

#paneID {
    -fx-background-color: #ffe6ef;
}

#pointID {
    -fx-fill: BLACK;
}

#textFieldID {
    -fx-font: 12pt "Arial";
    -fx-cursor: text;
}
