.button {
    -fx-cursor: hand;
    -fx-background-radius: 15px;
}

.label {
    -fx-font: 15pt "Arial";
}

.text-field {
    -fx-font: 12pt "Arial";
}

#cropLine {
    -fx-stroke-width: 5pt;
}

#paneID {
    -fx-background-color: #ffe6ef;
}

#opaqueSquare {
    -fx-fill: WHITE;
    -fx-stroke: BLACK;
    -fx-opacity: 0.2;
}