/* JavaFX CSS Reference Guide: https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html */

#buttonID {
    -fx-cursor: hand;
    -fx-background-radius: 15pt;
}

#imageViewID {
    /*-fx-cursor: crosshair;*/
}

#lineID {
    -fx-stroke-width: 4pt;
}

#menuBarID {
    -fx-font: 10pt "Arial";
}

#messageLabID {
    -fx-font: 14pt "Arial";
}


#paneID {
    -fx-background-color: #ffe6ef;
}

#pointID {
    -fx-fill: BLACK;
}

#radioID {
    -fx-font: 10pt "Arial";
}

#sliderID .thumb {

}

#sliderID .track {

}

#textFieldID {
    -fx-font: 12pt "Arial";
    -fx-cursor: text;
}

#titleLabID {
    -fx-font: 16pt "Arial";
}
