/* JavaFX CSS Reference Guide: https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html */

#buttonID {
    -fx-cursor: hand;
    -fx-background-radius: 15px;
}

#cropLineID {
    -fx-stroke-width: 2pt;
}

#imageViewID {
    -fx-cursor: crosshair;
}

#lineID {
    -fx-stroke-width: 4pt;
}

#messageLabID {
    -fx-font: 14pt "Arial";
}

#opaqueSquareID {
    -fx-fill: WHITE;
    -fx-stroke: BLACK;
    -fx-opacity: 0.2;
}

#paneID {
    -fx-background-color: #ffe6ef;
}

#pointID {
    -fx-fill: BLACK;
}

#radioID {
    -fx-font: 10pt "Arial"
}

#sliderID {

}

#textFieldID {
    -fx-font: 12pt "Arial";
    -fx-cursor: text;
}

#titleLabID {
    -fx-font: 16pt "Arial";
}
